/******************RESPONSIVE VALUES*********************/

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

/********************COLOR VALUES************************/
$main-color: rgb(17,17,17);
$second-color: rgb(243,191,255);

@mixin main-linear-gradient {
    background: rgb(109,23,144);
    background: linear-gradient(33deg, rgba(109,23,144,1) 0%, rgba(229,102,230,1) 42%, rgba(243,191,255,1) 88%);
}
/****COLORS AND BACKGROUND APPLICATIONS********************/

.topbar-container,
.about,
.realisations,
.tag,
.formation,
.footer,
.dropdown-menu__container {
    background-color: $main-color;
}

input,
textarea,
select,
.bar {
    background-color: $second-color;
}

.banner,
.services,
.realisation-container,
.competences {
    @include main-linear-gradient;
}

.github-btn,
.contact-btn {
    color: $main-color;
}

.topbar-link,
.about__h2,
.about__contact-me,
.about__p,
.realisations__h2,
.tag,
.formation__h2,
.footer__h2,
.copyright,
.formations-container,
.dropdown-link,
.download-link a {
    color:$second-color;
}

.realisation-title {
    font-size:90px;
}

/***********************FONT STYLES*******************************/

* {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size:120px;
    font-weight:bold;
    @media all and (max-width: $tablet-breakpoint) {
        font-size:100px;
    }
    @media all and (max-width: $mobile-breakpoint) {
        font-size:3em;
    }
}

h2 {
    font-size:40px;
    @media all and (max-width: $tablet-breakpoint) {
        font-size:30px;
    }
    @media all and (max-width: $mobile-breakpoint) {
        font-size:20px;
    }
}

h3 {
    font-size:32px;
    @media all and (max-width: $tablet-breakpoint) {
        font-size:27px;
    }
}

.service-card__h3 {
    font-size:22px;
}

.about__p {
    @media all and (max-width: $tablet-breakpoint) {
        font-size:15px;
    }
}

.about__contact-me {
    font-size:24px;
    font-weight:lighter;
    @media all and (max-width: $tablet-breakpoint) {
        font-size:18px;
    }
}

.topbar-link,
.github-btn,
.contact-btn,
.card-link,
.dropdown-link,
.download-link a {
    text-decoration:none;
}

.github-btn,
.contact-btn {
    font-size:18px;
    font-weight:600;
    @media all and (max-width: $mobile-breakpoint) {
        font-size:15px;
    }
}

.topbar,
.formation-li,
.dropdown-menu__container {
    list-style-type:none;
}

.about__p,
.description-start-left,
.description-start-right {
    text-align: justify;
}

.card__h2 {
    font-weight:bold;
}

.footer {
    text-align: center;
}

.formations-list,
.autres-formations {
    @media all and (max-width: $mobile-breakpoint) {
    text-align: center;
    }
}

.footer-form {
    text-align: left;
}

/*****************************************************************/

* {
    box-sizing:content-box;
}

.topbar-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.banner-title__logo {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

.github-btn,
.contact-btn {
    background: transparent;
    border: solid 2px rgb(17, 17, 17);
    transition: color 0.3s, background-color 0.3s;
    position:relative;
}

.card {
    box-shadow: $second-color 0px 7px 29px 0px;
    &::before {
        background: linear-gradient(to bottom, transparent 60%, rgba(10, 10, 10, 0.8));
    }
    &__h2 {
        font-size:22px;
    }
}

.cv {
    box-shadow: $second-color 0px 7px 29px 0px;
}

.card-link {
    color:white;
}

input,
textarea,
select {
    border: solid 1px $second-color;
}

.input-submit:hover {
    cursor:pointer;
}

input::placeholder,
textarea::placeholder {
    color:black;
}