/******************RESPONSIVE VALUES*********************/

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

/*********DISPLAY VALUES*****************/

$center-value: center;

@mixin flex-and-row {
    display:flex;
    flex-direction:row;
}

@mixin flex-and-column {
    display:flex;
    flex-direction:column;
}

/********DISPLAY************************/

.topbar,
.banner-title,
.banner-welcome__buttons,
.github-btn,
.contact-btn,
.realisation-link,
.description-start-left,
.description-start-right,
.realisation-tags,
.language__container,
.outils__container,
.footer-form__input-select,
.card-container {
    @include flex-and-row;
}

.card-container,
.realisation-tags {
    @media all and (max-width: $mobile-breakpoint) {
        @include flex-and-column;   
    }
}

.banner-welcome,
.about,
.services,
.service-card,
.realisations,
.competences,
.logo-container,
.formation,
.formations,
.formations-list,
.autres-formations,
.cv-container,
.footer,
.footer-form,
.dropdown-menu__container,
.body-error {
    @include flex-and-column;
}

.realisation-container {
    @include flex-and-column;
}

.topbar-container,
.formations-container {
    @include flex-and-row;
    @media all and (max-width: $mobile-breakpoint) {
        @include flex-and-column;   
    }
}

.menu-icon {
    @media all and (max-width: $mobile-breakpoint) {
        @include flex-and-column;   
        position:relative;
        z-index:1001;
    }
}

.services-container {
    @include flex-and-row;
    @media all and (max-width: $tablet-breakpoint) {
        @include flex-and-column;   
    }
}

/***************************************/

.topbar-container {
    position: fixed;
    flex-wrap:wrap;
}

.topbar {
    justify-content: space-around;
    flex-grow:1;
    @media (max-width: 768px) {
        justify-content: space-between;
    }
}

.logo-container,
.formations-container {
    justify-content: space-around;
}

.banner-title,
.banner-welcome,
.github-btn,
.contact-btn,
.realisation-link,
.about,
.services,
.service-card,
.realisations,
.realisation-container,
.description-start-left,
.description-start-right,
.competences,
.logo-container,
.formation,
.formations-container,
.cv-container,
.footer,
.footer-form,
.dropdown-menu__container,
.body-error {
    align-items: $center-value;
}

.formations,
.autres-formations {
    @media all and (max-width: $mobile-breakpoint) {
        align-items: $center-value;
    }
}

.banner-title,
.github-btn,
.contact-btn,
.realisation-link,
.about,
.description-start-left,
.description-start-right,
.footer,
.footer-form,
.tag,
.card-container,
.body-error {
    justify-content: $center-value;
}

.language__container,
.outils__container {
    @media all and (max-width: $tablet-breakpoint) {
        justify-content: $center-value;
    }
}

.about__contact-me {
    text-align: left;
}

.service-card {
    text-align: center;
    @media all and (max-width: $tablet-breakpoint) {
        width:55%;
        margin-left:22.5%;
        margin-right:22.5%;
        margin-bottom:50px;   
    }
}

.services-container {
    justify-content: space-around;
}

.card-container a {
    z-index:3;
}

.card {
    display:flex;
    align-items:flex-end;
    background-size: cover;
    background-position:$center-value;
}

.card::before,
.dropdown-menu__container {
    position:absolute;
}

.dropdown-link,
.card {
    position:relative;
}

.card,
.card__h2 {
    z-index: 2;
}

.card::before {
    z-index: 1;
}

.dropdown-menu__container {
    z-index:1001;
}

.language__container,
.outils__container,
.card-container {
    flex-wrap:wrap;
}

.hide-on-mobile {
    @media (max-width: 768px) {
        display:none;
    }
}

.burger-menu {
    display:none;
    @media (max-width: 768px) {
        display:block;
    }
}

.tag {
    display: flex;
}