/******************RESPONSIVE VALUES*********************/

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

/*********DISPLAY VALUES*****************/

$center-value: center;

@mixin flex-and-row {
    display:flex;
    flex-direction:row;
}

@mixin flex-and-column {
    display:flex;
    flex-direction:column;
}

/********DISPLAY************************/

.topbar,
.banner-title,
.banner-welcome__buttons,
.github-btn,
.contact-btn,
.description-start-left,
.description-start-right,
.realisation-tags,
.language__container,
.outils__container,
.footer-form__input-select {
    @include flex-and-row;
}

.banner-welcome,
.about,
.services,
.service-card,
.realisations,
.competences,
.logo-container,
.formation,
.footer,
.footer-form {
    @include flex-and-column;
}

.realisation-container {
    @include flex-and-column;
}

.topbar-container {
    @include flex-and-row;
    @media all and (max-width: $mobile-breakpoint) {
        @include flex-and-column;   
    }
}

.services-container {
    @include flex-and-row;
    @media all and (max-width: $tablet-breakpoint) {
        @include flex-and-column;   
    }
}

/***************************************/

.topbar-container {
    position: fixed;
    flex-wrap:wrap;
}

.topbar {
    justify-content: space-around;
    flex-grow:1;
    @media (max-width: 768px) {
        justify-content: space-between;
    }
}

.logo-container {
    justify-content: space-around;
}

.banner-title,
.banner-welcome,
.github-btn,
.contact-btn,
.about,
.services,
.service-card,
.realisations,
.realisation-container,
.description-start-left,
.description-start-right,
.competences,
.logo-container,
.formation,
.footer,
.footer-form {
    align-items: $center-value;
}

.banner-title,
.github-btn,
.contact-btn,
.about,
.description-start-left,
.description-start-right,
.footer,
.footer-form {
    justify-content: $center-value;
}

.about__contact-me {
    text-align: left;
}

.service-card {
    text-align: center;
    @media all and (max-width: $tablet-breakpoint) {
        width:55%;
        margin-left:22.5%;
        margin-right:22.5%;
        margin-bottom:50px;   
    }
}

.services-container {
    justify-content: space-around;
}

.card-container {
    display:grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $tablet-breakpoint) {
        @include flex-and-column;
    }
}

.card-container a {
    z-index:3;
}

.card {
    display:flex;
    align-items:flex-end;
    background-size: cover;
    background-position:$center-value;
    position:relative;
}

.card::before {
    position:absolute;
}

.card,
.card__h2 {
    z-index: 2;
}

.card::before {
    z-index: 1;
}
